body {
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}
a{
    color : white;
    text-decoration: none;
}
a:visited{
    color : white;
    text-decoration: none;
}
a:hover{
    color: aquamarine;
}
a:active{
    font-weight: bold; 
    color: black;
    background-color: aquamarine;
}
.menu{
    float: left;
    width: 10%;
}
.content{
    float: left;
    width: 90%;
}

#current-page {
    color: aquamarine;
}
