body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    font-weight: 150;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
p{
    font-size: 12pt;
    line-height: 120%;
}
a{
    color : white;
    text-decoration: none;
}
a:visited{
    color : white;
    text-decoration: none;
}
a:hover{
    color: aquamarine;
}
a:active{
    font-weight: bold; 
    color: black;
    background-color: aquamarine;
}
ul{
    line-height: 120%;
}

.menu{
    float: left;
    width: 25%;
}
.content{
    float: left;
    width: 75%;
}

#current-page {
    color: aquamarine;
}
