body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    font-weight: 150;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40pt;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28pt;
}
h2, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
p{
    font-size: 12pt;
    line-height: 1.5rem;
}
a{
    color: aquamarine;
    text-decoration: none;
}
a:visited{
    color: aquamarine;
    text-decoration: none;
}
a:hover{
    color: white;
}
a:active{
    font-weight: bold; 
    color: black;
    background-color: aquamarine;
}
ul{
    line-height: 1.5rem;
}

.menu{
    float: left;
    width: 360px;
}
.content{
    float: left;
    width: 60%;
    margin-left : 20px;
}
.title{
    font-size: 30pt;
}
#current-page {
    
}
